<div class="col s12 m7">
    <div class="card">
        <div class="card-image">
        <img src="/photo/{{chaton.photo}}">
        <span class="card-title">{{chaton.nom}}</span>
        </div>
        <div class="card-content">
        <p>{{chaton.description}}</p>
        </div>
        <div class="card-action">
        <a href="{{  path("chaton_modifier",{"id_chaton":chaton.id} )  }}"><i class="material-icons">create</i></a>
         <a href="{{  path("chaton_proprietaires",{"id_chaton":chaton.id} )  }}"><i class="material-icons">remove_red_eye</i></a>
        <a href="{{  path("chaton_verif",{"id_chaton":chaton.id} )  }}"><i class="material-icons">close</i></a>
        </div>
    </div>
</div>