{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <h1>Rechercher un vol<i class="material-icons medium right">flight</i></h1>

{{ form_start(form) }}
      <div class="row">
        <div class="input-field col s12">
          {{ form_row(form.Date) }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            {{ form_row(form.Depart) }}
        </div>
        <div class="input-field col s6">
            {{ form_row(form.Arrivee) }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light red lighten-1" type="submit" name="action">Rechercher
              <i class="material-icons right">search</i>
            </button>
        </div>
      </div>
{{ form_end(form) }}
        
</div>

{% endblock %}
