{% extends 'base.html.twig' %}

{% block title %}{{ Titre }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col s12 m6">
      <div class="card teal darken-3">
        <div class="card-content white-text">
          <span class="card-title">{{ Titre }}</span>
          <p> Voulez vous {{ Titre }} {{chaton.nom}} ?</p>
        </div>
        <div class="card-action">
            <a href="{{  path("chaton_supprimer",{"id_chaton":chaton.id} )  }}" 
                class="waves-effect waves-light btn">Oui</a>
            <a href="{{path("categorie",{"id_categorie":chaton.categorie.id})}}"
                class="waves-effect waves-light btn">Non</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}